img.logo {
  height: 72px;
  left: 26.143775939941406px;
  top: 0px;
  border-radius: 0px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 0px 15px;
}
li.selected,
li.selected > a {
  font-weight: 700;
  color: #e44f0e;
  text-decoration: none;
}
@media screen and (min-device-width: 769px) and (min-device-height: 1081px) {
  .nav__ul {
    width: 40%;
  }
}

@media screen and (max-device-width: 768px) and (max-device-height: 1080px) {
  .nav__ul {
    width: 50%;
    margin-right: 48px;
  }
}
