@import url("./header.css");
@import url("./nav.css");
@import url("./section.css");
@import url("./footer.css");

html,
header,
nav,
section,
footer {
  width: 99vw;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  width: 40%;
}
li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

li > p,
p > a,
nav a {
  margin: 0;
  padding: 0;
  color: #494545;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}
